.categoriesContainer{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    background-color: yellow;
    margin: auto;
    padding: 1rem;
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    background-color: grey;
    color: white;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 1rem;
}