.categoryBtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    color: white;
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    box-shadow: 0px 0px 19px blue;
    margin: auto;
    margin-top: 4rem;
    font-size: 1.25rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid yellow;
}

.categoryBtnContainer:hover{
    box-shadow: 0px 0px 29px blue;
}

.categoryForm{
    display: flex;
    justify-content: center;
    position: relative;
    width: 20%;
    height: auto;
    top: 2rem;
    padding: 1rem;
    background-color: cyan;
    margin: auto;
    margin-bottom: 4rem;
    border-radius: 1rem;
}

.categoryForm form{
    display: flex;
    flex-direction: column;
}

.categoryForm form div{
    margin: 0.5rem;
}
.categoryForm input{
    width: 100%;
    height: 2rem;
    font-size: larger;
    padding: 0.25rem;
}

.categoryForm button{
    position: relative;
    width: 100%;
    background-color: lightgrey;
    color: grey;
    padding: 0.25rem;
    border-color: white;

}

.visibilityHidden{
    visibility: hidden;
}

#availableCategories{
    background-color: cyan;
    width: 80%;
    margin: auto;
    border-radius: 1rem;
    padding: 1rem;
}

#availableCategories h2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.categoriesContainer{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    background-color: yellow;
    margin: auto;
    padding: 1rem;
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    background-color: grey;
    margin: 1rem;
}